header{
    font-family: Linotte-Semi Bold;
    background-color: rgb(74, 136, 116);

}
h1{
    background-color: #B8860B;
    padding: 10px;

    display: flex;
    justify-content: center;
}
 body{
    background-image: url(img/nubaggrundskat.jpg);
    background-size: cover;
    
    z-index: 50%;
 }

 .container {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    margin: auto;
    padding: 30px;
 }

 form input {
    
    background-color: var(--color-light);
    border-radius: 30%;
    margin: 5%; 
    padding: 5%;
 }